﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Each Voice</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/IndexStyleSheet.css" rel="stylesheet" type="text/css" />

</head>
<body class="bgc">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Each Voice", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*We already have a link to home. Remove one?
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("BillHub", "BillHub", "Home")</li>
                    <!-- Added Below -->
                    <li>@Html.ActionLink("RepHub", "RepHub", "Home")</li>
                    <li>@Html.ActionLink("Search Tag", "TagDetails", "Home")</li>
                    <li>@Html.ActionLink("Calendar of Upcoming Events", "CalendarOfEvents", "Home")</li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

    </div>
    <div class="container body-content">      

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - EACH VOICE</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("LocationScript",required: false)
    @RenderSection("IndexStyleSheet", required: false)
    @RenderSection("calendarScript", required: false)
</body>
</html>
