﻿@{
    ViewBag.Title = "About Each Voice";
}
<h2>@ViewBag.Title.</h2>


<p>
    Our web application, Each Voice, is designed to help bring together information on local
    and state government matters to help the public more efficiently acquire this information
    to better understand and vote in these matters. Our goal is that in being able to locate
    this information easily the American people will participate more in local and state matters.
    Each Voice will include details on proposed local bill, laws, and representatives. The public will be able to discuss these proposed laws and bill with others. This combination of information aggregation and user discussion is something that does not currently exist. We hope to provide a place where the public can start to become more active in and better educated about their local and state governments.
</p>
