﻿
<script>
    var billID = '@ViewBag.BillID';

    function FillPage() {
        var dataString = 'https://openstates.org/api/v1/bills/' + billID + '/';
        $.ajax({
            type: "GET",
            dataType: "json",
            url: dataString,
            success: DisplayData
        });
    }

    function DisplayData(data) {
        var lastAction = data.action_dates.last;
        var firstAction = data.action_dates.first;

        /*
        <article class="panel panel-info panel-outline">
    <div class="panel-body">
        That is all.
    </div>
</article>
*/

        // all events
        for (index = 0; index < data.actions.length; index++) {
            console.log(data.actions[index].action);

            eventDate = new Date(data.actions[index].date);
            console.log(eventDate);

            // I'm not sure why I need to add otthe month and year
            //document.getElementById("EventsBody").innerHTML += '<time>' + (eventDate.getMonth() + 1) + '/' + eventDate.getDay() + '/' + (eventDate.getYear() - 100) + ' </time> <article class="panel panel-info panel-outline"> <div class="panel-body">' + data.actions[index].action + '</div> </article>';
            document.getElementById("EventsBody").innerHTML += '<time>' + data.actions[index].date + ' </time> <article class="panel panel-info panel-outline"> <div class="panel-body">' + data.actions[index].action + '</div> </article>';
            //document.getElementById("EventsBody").innerHTML += '<th>' + data.actions[index].date + "</th>" + '<th>' + data.actions[index].action + "</th>";
        }

        // all versions
        for (index = 0; index < data.versions.length; index++) {
            console.log(data.versions[index].action);

            document.getElementById("VersionsBody").innerHTML += '<tr>';
            document.getElementById("VersionsBody").innerHTML += '<th> <a href="' + data.versions[index].url + '">' + data.versions[index].name + '</a> </th>';
        }

        // big milestones
        var passedUpper = "No";
        if (data.action_dates.passed_upper != null) {
            passedUpper = "Yes";
        }

        var passedLower = "No";
        if (data.action_dates.passed_lower != null) {
            passedLower = "Yes";
        }

        document.getElementById("LastAction").innerHTML += lastAction;
        document.getElementById("FirstAction").innerHTML += firstAction;
        document.getElementById("PassedUpper").innerHTML += passedUpper;
        document.getElementById("PassedLower").innerHTML += passedLower;
    }

</script>

<body onload="FillPage()"></body>
@{
    ViewBag.Title = "BillPage";
}

<h1>
    @Html.Raw(ViewBag.BillTitle)
</h1>

<h3>Milestones</h3>
<div class="container">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>First Action</th>
                <th>Last Action</th>
                <th>Passed Senate</th>
                <th>Passed House of Representatives</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th id="FirstAction"></th>
                <th id="LastAction"></th>
                <th id="PassedUpper"></th>
                <th id="PassedLower"></th>
            </tr>
        </tbody>
    </table>
</div>

<h3>Versions</h3>
<div class="container">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody id="VersionsBody"></tbody>
    </table>
</div>

<div class="container">
    <div class="page-header">
        <h2> Actions </h2>
    </div>
    <div class="timeline">

        <div id="EventsBody">
        </div>

    </div>
    <!-- /Timeline -->
</div>