﻿<script>
    function DoSearch() {
        //clear div
        document.getElementById("Results").innerHTML = "";

        var searchingFor = document.getElementById("search").value;
        var state = "or";
        var searchString = "https://openstates.org/api/v1/bills/?state=" + "or" + "&q=" + searchingFor;

        $.getJSON(searchString, function (data) {
            jQuery.each(data,
                function () {
                    document.getElementById("Results").innerHTML += "<a href='/Home/BillPage/?billid=" + this.id + "&title=" + this.title + "'>" + this.title + "</a> <p></p>";
                });
        });
    }
</script>

@{
    ViewBag.Title = "BillHub";
}

<h2>BillHub</h2>

<div class="form-group">
    <label for="search">Bill Keyword Search</label>
    <input type="text" class="form-control" id="search" />
    <button type="button" class="btn btn-default" onclick="DoSearch()">Search</button>
</div>

<div id="Results">
</div>