﻿
@{
    ViewBag.Title = "Calendar OfEvents";
}

<h2>Here are your upcoming events!</h2>

<div id="calendar"></div>
@section calendarScript
{
    <script type="text/javascript" src="~/Scripts/daypilot-all.min.js"></script>
    <script type="text/javascript" src="~/Scripts/CalendarOfEvents.js"></script>
}
