﻿@model IEnumerable<EachVoice.Models.CustomU.UserComment>

@{
    ViewBag.Title = "Discuss";
}
<h3 class="text-danger">@ViewBag.Message</h3>

<h2>Discussion</h2>

@using (Html.BeginForm("CreateComments","Home",FormMethod.Post))
{
    <table class="table">
        <tr>
            <th>
                <p>User Comments:</p>
            </th>
            <th>
                @Html.HiddenFor(model => model.FirstOrDefault().bltitle)
            </th>
            <th>@Html.HiddenFor(model => model.FirstOrDefault().blid)</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.comt)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => item.bltitle)
                </td>

            </tr>
        }

    </table>


    <textarea class="form-control" style="min-width: 100%" name="comment" value="comment"></textarea><br />
    
    <input type="submit" value="Create" class="btn btn-sm btn-success" />

}
