﻿<script>

    //Upper chamber is the Senate.
    function StateSenateList() {
        document.getElementById("SenateResults").innerHTML = "";

        var senateString = "https://openstates.org/api/v1/legislators/?state=or&chamber=upper";

        $.getJSON(senateString, function (data)
        {
            //An array in which each state senator will be placed.
            var list = [];
            //Places each senator into the array.
            jQuery.each(data,
                function ()
                {
                    list.push(this);
                });
            //Sorts the array by last name.
            list.sort(function (a, b)
            {
                if (a.last_name < b.last_name) return -1;
                if (a.last_name > b.last_name) return 1;
                return 0;
            });
            //Builds buttons for each of the senators.
            for (i = 0; i < list.length; i++)
            {
                document.getElementById("SenateResults").innerHTML += "<input type='button' onclick='ShowRepData(\"" + list[i].leg_id + "\")' value='" + list[i].last_name + ", " + list[i].first_name + "' style='width: 230px;'> <p></p>";
            }
        });

        document.getElementById("SeniorSen").innerHTML += "<input type='button' onclick='FedPage(\"1\")' value='Wyden, Ron' style='width: 230px;'> <p></p>";
        document.getElementById("JuniorSen").innerHTML += "<input type='button' onclick='FedPage(\"2\")' value='Merkley, Jeff' style='width: 230px;'> <p></p>";
    }

    //Lower chamber is the House of Representatives. 
    function StateHouseList() {
        document.getElementById("HouseResults").innerHTML = "";

        var houseString = "https://openstates.org/api/v1/legislators/?state=or&chamber=lower";

        $.getJSON(houseString, function (data) {
            //An array in which each state senator will be placed.
            var list = [];
            //Places each senator into the array.
            jQuery.each(data,
                function () {
                    list.push(this);
                });
            //Sorts the array by last name.
            list.sort(function (a, b) {
                if (a.last_name < b.last_name) return -1;
                if (a.last_name > b.last_name) return 1;
                return 0;
            });
            //Builds buttons for each of the senators.
            for (i = 0; i < list.length; i++) {
                document.getElementById("HouseResults").innerHTML += "<input type='button' onclick='ShowRepData(\"" + list[i].leg_id + "\")' value='" + list[i].last_name + ", " + list[i].first_name + "' style='width: 230px;'> <p></p>";
            }
        });
        document.getElementById("1stRep").innerHTML += "<input type='button' onclick='FedPage(\"3\")' value='Blumenauer, Earl' style='width: 230px;'> <p></p>";
        document.getElementById("2ndRep").innerHTML += "<input type='button' onclick='FedPage(\"4\")' value='Bonamici, Suzanne' style='width: 230px;'> <p></p>";
        document.getElementById("3rdRep").innerHTML += "<input type='button' onclick='FedPage(\"5\")' value='DeFazio, Peter' style='width: 230px;'> <p></p>";
        document.getElementById("4thRep").innerHTML += "<input type='button' onclick='FedPage(\"6\")' value='Schrader, Kurt' style='width: 230px;'> <p></p>";
        document.getElementById("5thRep").innerHTML += "<input type='button' onclick='FedPage(\"7\")' value='Walden, Greg' style='width: 230px;'> <p></p>";
    }

    function ShowRepData(legID) {
        var dataString = 'https://openstates.org/api/v1/legislators/' + legID + '/';
        $.ajax({
            type: "GET",
            dataType: "json",
            url: dataString,
            success: DisplayRepData
        });
    }

    function DisplayRepData(data) {
        document.getElementById("FirstName").innerHTML = data.first_name;
        document.getElementById("LastName").innerHTML = data.last_name;
        document.getElementById("District").innerHTML = data.district;

        //Email
        document.getElementById("Email").innerHTML = "N/A";
        if (data.email != null && data.email != "" && data.email != " ") {
            document.getElementById("Email").innerHTML = data.email;
        }

        //Working Test

        var str = JSON.stringify(data.offices);
        var strAr = str.split(":");

        //OfficeType
        var officeType = strAr[5];
        if (officeType.charAt(0) == "n") {
            officeType = "N/A";
        }
        else {
            officeType = officeType.substring(1, officeType.length - 9);
        }

        //OfficeAddressName
        var officeAddressName = strAr[2];
        if (officeAddressName.charAt(0) == "n") {
            officeAddressName = "N/A";
        }
        else {
            officeAddressName = officeAddressName.substring(1, officeAddressName.length - 9);
        }

        //OfficeAddress
        var officeAddress = strAr[4];
        if (officeAddress.charAt(0) == "n") {
            officeAddress = "N/A";
        }
        else {
            officeAddress = officeAddress.substring(1, officeAddress.length - 26) + "<br>" + officeAddress.substring(25, officeAddress.length - 8);
        }

        //OfficePhone
        var officePhone = strAr[3];
        if (officePhone.charAt(0) == "n") {
            officePhone = "N/A";
        }
        else {
            officePhone = officePhone.substring(1, officePhone.length - 11);
        }

        //OfficeFax
        var officeFax = strAr[1];
        if (officeFax.charAt(0) == "n") {
            officeFax = "N/A";
        }
        else {
            officeFax = officeFax.substring(1, officeFax.length - 7);
        }

        //OfficeEmail
        var officeEmail = strAr[6];
        if (officeEmail.charAt(0) == "n") {
            officeEmail = "N/A";
        }
        else {
            officeEmail = officeEmail.substring(1, officeEmail.length - 3);
        }

        document.getElementById("FirstNamePlacement").innerHTML = "First Name<br>";
        document.getElementById("LastNamePlacement").innerHTML = "Last Name<br>";
        document.getElementById("EmailPlacement").innerHTML = "Email<br>";
        document.getElementById("DistrictPlacement").innerHTML = "District<br>";
        document.getElementById("OfficePositionPlacement").innerHTML = "Office Position<br>";
        document.getElementById("OfficeAddressNamePlacement").innerHTML = "Office Address Name<br>";
        document.getElementById("OfficeAddressPlacement").innerHTML = "Office Address";

        document.getElementById("OfficeAddress1").innerHTML = officeType + "<br>";
        document.getElementById("OfficeAddress1").innerHTML += officeAddressName + "<br>";
        document.getElementById("OfficeAddress1").innerHTML += officeAddress + "<br>";
        document.getElementById("OfficeAddress1").innerHTML += "Phone: " + officePhone + "<br>";
        document.getElementById("OfficeAddress1").innerHTML += "Fax: " + officeFax + "<br>";
        document.getElementById("OfficeAddress1").innerHTML += "Email: " + officeEmail + "<br>";
        document.getElementById("OfficeAddress2").innerHTML = "<br>";
        document.getElementById("OfficeAddress3").innerHTML = "<br>";
        document.getElementById("OfficeAddress4").innerHTML = "<br>";
        document.getElementById("OfficeAddress5").innerHTML = "<br>";
        document.getElementById("OfficeAddress6").innerHTML = "<br>";
        document.getElementById("OfficeAddress7").innerHTML = "<br>";

        //Photo
        document.getElementById("Photo").innerHTML = "";
        if (data.photo_url != null) {
            document.getElementById("Photo").innerHTML = "<img src=\"" + data.photo_url + "\" alt=\"Representative_Photo\" style=\"width:115px; height:130px;\" />";
        }
    }

    function FedPage(fedID)
    {

        document.getElementById("FirstNamePlacement").innerHTML = "First Name<br>";
        document.getElementById("LastNamePlacement").innerHTML = "Last Name<br>";
        document.getElementById("EmailPlacement").innerHTML = "Email<br>";
        document.getElementById("DistrictPlacement").innerHTML = "";
        document.getElementById("District").innerHTML = "";
        document.getElementById("OfficePositionPlacement").innerHTML = "";
        document.getElementById("OfficeAddressNamePlacement").innerHTML = "";
        document.getElementById("OfficeAddressPlacement").innerHTML = "Office Address(es)";

        if (fedID == 1) {
            document.getElementById("FirstName").innerHTML = "Ron";
            document.getElementById("LastName").innerHTML = "Wyden";
            document.getElementById("Email").innerHTML = "<a href=\"https://www.wyden.senate.gov/contact\">https://www.wyden.senate.gov/contact</a>";
            document.getElementById("OfficeAddress1").innerHTML = "Washington D.C. <br>221 Dirksen Senate Office Bldg. <br>Washington, D.C., 20510 <br>Phone: (202) 224-5244 <br>Fax: (202) 228-2717";
            document.getElementById("OfficeAddress2").innerHTML = "<br>Portland, OR <br>911 NE 11th Ave., Suite 630 <br>Portland, OR, 97232 <br>Phone: (503) 326-7525 <br>Fax: N/A";
            document.getElementById("OfficeAddress3").innerHTML = "<br>Salem, OR <br>707 13th St., SE Suite 285 <br>Salem, OR, 97301 <br>Phone: (503) 589-4555 <br>Fax: N/A";
            document.getElementById("OfficeAddress4").innerHTML = "<br>Eugene, OR <br>405 East 8th Ave., Suite 2020 <br>Eugene, OR, 97401 <br>Phone: (541) 431-0229 <br>Fax: N/A";
            document.getElementById("OfficeAddress5").innerHTML = "<br>Medford, OR <br>Federal Courthouse <br>310 West 6th St., Room 118 <br>Medford, OR, 97501 <br>Phone: (541) 858-5122 <br>Fax: N/A";
            document.getElementById("OfficeAddress6").innerHTML = "<br>Bend, OR <br>The Jamison Building <br>131 NW Hawthorne Ave., Suite 107 <br>Bend, OR, 97701 <br>Phone: (541) 330-9142 <br>Fax: N/A";
            document.getElementById("OfficeAddress7").innerHTML = "<br>La Grande, OR <br>SAC Annex Building <br>105 Fir St,. Suite 201 <br>La Grande, OR, 97850 <br>Phone: (541) 962-7691 <br>Fax: N/A";
            document.getElementById("Photo").innerHTML = "<img src=\"/Resources/WydenR.jpg\" />";
        }
        if (fedID == 2) {
            document.getElementById("FirstName").innerHTML = "Jeff";
            document.getElementById("LastName").innerHTML = "Merkley";
            document.getElementById("Email").innerHTML = "<a href=\"https://www.merkley.senate.gov/contact\">https://www.merkley.senate.gov/contact</a>";
            document.getElementById("OfficeAddress1").innerHTML = "Washington D.C. <br>313 Hart Senate Office Building <br>Washington, DC 20510 <br>Phone: (202) 224-3753 <br>Fax: (202) 228-3997";
            document.getElementById("OfficeAddress2").innerHTML = "<br>Portland, OR <br>121 SW Salmon Street., Ste. 1400 <br>Portland, OR 97204 <br>Phone: (503) 326-3386 <br>Fax: (503) 326-2900";
            document.getElementById("OfficeAddress3").innerHTML = "<br>Bend, OR <br>131 NW Hawthorne Ave., Ste. 208 <br>Bend, OR 97701 <br>Phone: (541) 318-1298 <br>Fax: N/A";
            document.getElementById("OfficeAddress4").innerHTML = "<br>Eugene, OR <br>405 East 8th Avenue, Ste. 2010 <br>Eugene, OR 97401 <br>Phone: (541) 465-6750 <br>Fax: N/A";
            document.getElementById("OfficeAddress5").innerHTML = "<br>Medford, OR <br>10 South Bartlett Street, Ste. 201 <br>Medford, OR 97501 <br>Phone: (541) 608-9102 <br>Fax: N/A";
            document.getElementById("OfficeAddress6").innerHTML = "<br>Pendleton, OR <br>310 SE Second Street, Ste. 105 <br>Pendleton, OR 97801 <br>Phone: (541) 278-1129 <br>Fax: N/A";
            document.getElementById("OfficeAddress7").innerHTML = "<br>Salem, OR <br>161 High Street SE, Suite 250 <br>Salem, OR 97301 <br>Phone: (503) 362-8102 <br>Fax: N/A";
            document.getElementById("Photo").innerHTML = "<img src=\"/Resources/MerkleyJ.jpg\" />";
        }
        if (fedID == 3) {
            document.getElementById("FirstName").innerHTML = "Earl";
            document.getElementById("LastName").innerHTML = "Blumenauer";
            document.getElementById("Email").innerHTML = "<a href=\"https://blumenauerforms.house.gov/forms/writeyourrep/\">https://blumenauerforms.house.gov/forms/writeyourrep/</a>";
            document.getElementById("OfficeAddress1").innerHTML = "Washington, D.C. <br>1111 Longworth House Office Building <br>Washington, DC 20515 <br>Phone: (202) 225-4811 <br>Fax: (202) 225-8941";
            document.getElementById("OfficeAddress2").innerHTML = "<br>Portland, OR <br>911 N.E. 11th Ave Suite 200 <br>Portland, OR 97232 <br>Phone: (503) 231-2300 <br>Fax: (503) 230-5413";
            document.getElementById("OfficeAddress3").innerHTML = "<br>";
            document.getElementById("OfficeAddress4").innerHTML = "<br>";
            document.getElementById("OfficeAddress5").innerHTML = "<br>";
            document.getElementById("OfficeAddress6").innerHTML = "<br>";
            document.getElementById("OfficeAddress7").innerHTML = "<br>";
            document.getElementById("Photo").innerHTML = "<img src=\"/Resources/BlumenauerE.jpg\" />";
        }
        if (fedID == 4) {
            document.getElementById("FirstName").innerHTML = "Susanne";
            document.getElementById("LastName").innerHTML = "Bonamici";
            document.getElementById("Email").innerHTML = "<a href=\"https://bonamici.house.gov/contact-me/email-me\">https://bonamici.house.gov/contact-me/email-me</a>";
            document.getElementById("OfficeAddress1").innerHTML = "Washington, D.C. <br>439 Cannon HOB <br>Washington, DC 20515 <br>Phone: (202) 225-0855 <br>Fax: (202) 225-9497";
            document.getElementById("OfficeAddress2").innerHTML = "<br>Beaverton, OR <br>12725 SW Millikan Way, Suite 220 <br>Beaverton, OR 97005 <br>Phone: (503) 469-6010 <br>Fax: (503) 469-6018";
            document.getElementById("OfficeAddress3").innerHTML = "<br>";
            document.getElementById("OfficeAddress4").innerHTML = "<br>";
            document.getElementById("OfficeAddress5").innerHTML = "<br>";
            document.getElementById("OfficeAddress6").innerHTML = "<br>";
            document.getElementById("OfficeAddress7").innerHTML = "<br>";
            document.getElementById("Photo").innerHTML = "<img src=\"/Resources/BonamiciS.jpg\" />";
        }
        if (fedID == 5) {
            document.getElementById("FirstName").innerHTML = "Peter";
            document.getElementById("LastName").innerHTML = "DeFazio";
            document.getElementById("Email").innerHTML = "<a href=\"http://defazio.house.gov/contact/email-peter\">http://defazio.house.gov/contact/email-peter</a>";
            document.getElementById("OfficeAddress1").innerHTML = "Washington, D.C. <br>2134 Rayburn Office Building <br>Washington, DC 20515 <br>Phone: 202-225-6416 <br>Fax: N/A";
            document.getElementById("OfficeAddress2").innerHTML = "<br>Eugene, OR <br>405 East 8th Ave. #2030 <br>Eugene, OR 97401 <br>Phone: 541-465-6732 <br>Fax: 541-465-6458";
            document.getElementById("OfficeAddress3").innerHTML = "<br>Roseburg, OR <br>612 S.E Jackson St Room 9 <br>Roseburg, OR 97470 <br>Phone: 541-440-3523 <br>Fax: N/A";
            document.getElementById("OfficeAddress4").innerHTML = "<br>Coos Bay, OR <br>Coos Bay District Office <br>125 Central Ave Suite 350 <br>Coos Bay, OR 97420 <br>Phone: 541-269-2609 <br>Fax: 541-269-5760";
            document.getElementById("OfficeAddress5").innerHTML = "<br>";
            document.getElementById("OfficeAddress6").innerHTML = "<br>";
            document.getElementById("OfficeAddress7").innerHTML = "<br>";
            document.getElementById("Photo").innerHTML = "<img src=\"/Resources/DeFazioP.jpg\" />";
        }
        if (fedID == 6) {
            document.getElementById("FirstName").innerHTML = "Kurt";
            document.getElementById("LastName").innerHTML = "Schrader";
            document.getElementById("Email").innerHTML = "<a href=\"http://schrader.house.gov/contact/\">http://schrader.house.gov/contact/</a>";
            document.getElementById("OfficeAddress1").innerHTML = "Washington, D.C. <br>2431 Rayburn HOB <br>Washington, D.C. 20515 <br>Phone: (202) 225-5711 <br>Fax: (202) 225-5699";
            document.getElementById("OfficeAddress2").innerHTML = "<br>Salem, OR <br>530 Center Street, N.E., Ste. 415 <br>Salem, OR 97301 <br>Phone: (503) 588-9100 <br>Fax: (503) 588-5517";
            document.getElementById("OfficeAddress3").innerHTML = "<br>Oregon City, OR <br>621 High Street <br>Oregon City, OR 97045 <br>Phone: (503)-557-1324 <br>Fax: (503)-557-1981 ";
            document.getElementById("OfficeAddress4").innerHTML = "<br>";
            document.getElementById("OfficeAddress5").innerHTML = "<br>";
            document.getElementById("OfficeAddress6").innerHTML = "<br>";
            document.getElementById("OfficeAddress7").innerHTML = "<br>";
            document.getElementById("Photo").innerHTML = "<img src=\"/Resources/SchraderK.jpg\" />";
        }
        if (fedID == 7) {
            document.getElementById("FirstName").innerHTML = "Greg";
            document.getElementById("LastName").innerHTML = "Walden";
            document.getElementById("Email").innerHTML = "<a href=\"https://walden.house.gov/contact-greg/email-me\">https://walden.house.gov/contact-greg/email-me</a>";
            document.getElementById("OfficeAddress1").innerHTML = "Washington, D.C. <br>2185 Rayburn House Office Building <br>Washington, DC 20515 <br>Phone: (202) 225-6730 <br>Fax: (202) 225-5774";
            document.getElementById("OfficeAddress2").innerHTML = "<br>Bend, OR <br>1051 NW Bond St. Suite 400 <br>Bend, OR 97701 <br>Phone: (541) 389-4408 <br>Fax: (541) 389-4452";
            document.getElementById("OfficeAddress3").innerHTML = "<br>La Grande, OR <br>1211 Washington Avenue <br>La Grande, OR 97850 <br>Phone: (541) 624-2400 <br>Fax: N/A";
            document.getElementById("OfficeAddress4").innerHTML = "<br>Medford, OR <br>14 N. Central Ave. Suite 112 <br>Medford, OR 97501 <br>Phone: (541) 776-4646 <br>Fax: (541) 779-0204";
            document.getElementById("OfficeAddress5").innerHTML = "<br>";
            document.getElementById("OfficeAddress6").innerHTML = "<br>";
            document.getElementById("OfficeAddress7").innerHTML = "<br>";
            document.getElementById("Photo").innerHTML = "<img src=\"/Resources/WaldenG.jpg\" />";
        }
    }

</script>

@{
    ViewBag.Title = "RepHub";
}

<body onload="StateSenateList(); StateHouseList(); testXMLtoJSON()"></body>

@*Left column. Holds the drop-down menus that list representatives.*@
@*23% is the smallest width this column can be with the words of each drop-down menu staying on a single line.*@
<div id="repListColumn" style="float:left; margin-top: 25px; width:23%";>

    @*State Senate*@
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">State Senate</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body" align="center">
                    <div id="SenateResults"></div>
                </div>
            </div>
        </div>
    </div>

    @*Federal Senate*@
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse2">Federal Senate</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body" align="center">
                    <b >Senior Senator</b><br />
                    <div id="SeniorSen"></div>
                    <b>Junior Senator</b><br />
                    <div id="JuniorSen"></div>
                </div>
            </div>
        </div>
    </div>

    @*State House of Representatives*@
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse3">State House of Representatives</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body" align="center">
                    <div id="HouseResults"></div>
                </div>
            </div>
        </div>
    </div>

    @*Federal House of Representatives*@
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse4">Federal House of Representatives</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body" align="center">
                    <div id="1stRep"></div>
                    <div id="2ndRep"></div>
                    <div id="3rdRep"></div>
                    <div id="4thRep"></div>
                    <div id="5thRep"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="repInfoColumn" style="float:left; margin-top: 25px; margin-left: 25px; width:70%" ;>
    <div class="container">
        <div id="column1" style="float:left; margin-top:10px; width:15%;">
            <div id="Photo"></div>
        </div>

        <div id="column2" style="float:left; margin-top:10px; width:15%;">
            <div id="FirstNamePlacement"></div>
            <div id="LastNamePlacement"></div>
            <div id="DistrictPlacement"></div>
            <div id="EmailPlacement"></div>

            <h2></h2>
            <div id="OfficePositionPlacement"></div>
            <div id="OfficeAddressNamePlacement"></div>
            <div id="OfficeAddressPlacement"></div>
        </div>
        <div id="column3" style="float:left; margin-top:10px; width:33%;">
            <div id="FirstName"></div>
            <div id="LastName"></div>
            <div id="District"></div>
            <div id="Email"></div>
            <h2></h2>
            <div id="OfficeAddress1"></div>
            <div id="OfficeAddress2"></div>
            <div id="OfficeAddress3"></div>
            <div id="OfficeAddress4"></div>
            <div id="OfficeAddress5"></div>
            <div id="OfficeAddress6"></div>
            <div id="OfficeAddress7"></div>
        </div>
    </div>
</div>