﻿@*This is no longer necessary. Delete after integrating in Sprint 3.*@


<script>
    var fedID = '@ViewBag.FedID';

    
    function FedPage() 
    {
        if (fedID == 1)
        {
            document.getElementById("FirstName").innerHTML += "Ron";
            document.getElementById("LastName").innerHTML += "Wyden";
            document.getElementById("Email").innerHTML += "<a href=\"https://www.wyden.senate.gov/contact\">https://www.wyden.senate.gov/contact</a>";
            document.getElementById("Address1").innerHTML += "Washington D.C. <br>221 Dirksen Senate Office Bldg. <br>Washington, D.C., 20510 <br>Phone: (202) 224-5244 <br>Fax: (202) 228-2717";
            document.getElementById("Address2").innerHTML += "<br>Portland, OR <br>911 NE 11th Ave., Suite 630 <br>Portland, OR, 97232 <br>Phone: (503) 326-7525";
            document.getElementById("Address3").innerHTML += "<br>Salem, OR <br>707 13th St., SE Suite 285 <br>Salem, OR, 97301 <br>Phone: (503) 589-4555";
            document.getElementById("Address4").innerHTML += "<br>Eugene, OR <br>405 East 8th Ave., Suite 2020 <br>Eugene, OR, 97401 <br>Phone: (541) 431-0229";
            document.getElementById("Address5").innerHTML += "<br>Medford, OR <br>Federal Courthouse <br>310 West 6th St., Room 118 <br>Medford, OR, 97501 <br>Phone: (541) 858-5122";
            document.getElementById("Address6").innerHTML += "<br>Bend, OR <br>The Jamison Building <br>131 NW Hawthorne Ave., Suite 107 <br>Bend, OR, 97701 <br>Phone: (541) 330-9142";
            document.getElementById("Address7").innerHTML += "<br>La Grande, OR <br>SAC Annex Building <br>105 Fir St,. Suite 201 <br>La Grande, OR, 97850 <br>Phone: (541) 962-7691";
            document.getElementById("Photo").innerHTML += "<img src=\"/Resources/WydenR.jpg\" />";
        }
        if (fedID == 2)
        {
            document.getElementById("FirstName").innerHTML += "Jeff";
            document.getElementById("LastName").innerHTML += "Merkley";
            document.getElementById("Email").innerHTML += "<a href=\"https://www.merkley.senate.gov/contact\">https://www.merkley.senate.gov/contact</a>";
            document.getElementById("Address1").innerHTML += "Washington D.C. <br>313 Hart Senate Office Building <br>Washington, DC 20510 <br>Phone: (202) 224-3753 <br>Fax: (202) 228-3997";
            document.getElementById("Address2").innerHTML += "<br>Portland, OR <br>121 SW Salmon Street., Ste. 1400 <br>Portland, OR 97204 <br>Phone: (503) 326-3386 <br>Fax: (503) 326-2900";
            document.getElementById("Address3").innerHTML += "<br>Bend, OR <br>131 NW Hawthorne Ave., Ste. 208 <br>Bend, OR 97701 <br>Phone: (541) 318-1298";
            document.getElementById("Address4").innerHTML += "<br>Eugene, OR <br>405 East 8th Avenue, Ste. 2010 <br>Eugene, OR 97401 <br>Phone: (541) 465-6750";
            document.getElementById("Address5").innerHTML += "<br>Medford, OR <br>10 South Bartlett Street, Ste. 201 <br>Medford, OR 97501 <br>Phone: (541) 608-9102";
            document.getElementById("Address6").innerHTML += "<br>Pendleton, OR <br>310 SE Second Street, Ste. 105 <br>Pendleton, OR 97801 <br>Phone: (541) 278-1129";
            document.getElementById("Address7").innerHTML += "<br>Salem, OR <br>161 High Street SE, Suite 250 <br>Salem, OR 97301 <br>Phone: (503) 362-8102";
            document.getElementById("Photo").innerHTML += "<img src=\"/Resources/MerkleyJ.jpg\" />";
        }
        if (fedID == 3)
        {
            document.getElementById("FirstName").innerHTML += "Susanne";
            document.getElementById("LastName").innerHTML += "Bonamici";
            document.getElementById("Email").innerHTML += "<a href=\"https://bonamici.house.gov/contact-me/email-me\">https://bonamici.house.gov/contact-me/email-me</a>";
            document.getElementById("Address1").innerHTML += "Washington, D.C. <br>439 Cannon HOB <br>Washington, DC 20515 <br>Phone: (202) 225-0855 <br>Fax: (202) 225-9497";
            document.getElementById("Address2").innerHTML += "<br>Beaverton, OR <br>12725 SW Millikan Way, Suite 220 <br>Beaverton, OR 97005 <br>Phone: (503) 469-6010 <br>Fax: (503) 469-6018";
            document.getElementById("Address3").innerHTML += "<br>";
            document.getElementById("Address4").innerHTML += "<br>";
            document.getElementById("Address5").innerHTML += "<br>";
            document.getElementById("Address6").innerHTML += "<br>";
            document.getElementById("Address7").innerHTML += "<br>";
            document.getElementById("Photo").innerHTML += "<img src=\"/Resources/BonamiciS.jpg\" />";
        }
        if (fedID == 4) {
            document.getElementById("FirstName").innerHTML += "Greg";
            document.getElementById("LastName").innerHTML += "Walden";
            document.getElementById("Email").innerHTML += "<a href=\"https://walden.house.gov/contact-greg/email-me\">https://walden.house.gov/contact-greg/email-me</a>";
            document.getElementById("Address1").innerHTML += "Washington, D.C. <br>2185 Rayburn House Office Building <br>Washington, DC 20515 <br>Phone: (202) 225-6730 <br>Fax: (202) 225-5774";
            document.getElementById("Address2").innerHTML += "<br>Bend, OR <br>1051 NW Bond St. Suite 400 <br>Bend, OR 97701 <br>Phone: (541) 389-4408 <br>Fax: (541) 389-4452";
            document.getElementById("Address3").innerHTML += "<br>La Grande, OR <br>1211 Washington Avenue <br>La Grande, OR 97850 <br>Phone: (541) 624-2400";
            document.getElementById("Address4").innerHTML += "<br>Medford, OR <br>14 N. Central Ave. Suite 112 <br>Medford, OR 97501 <br>Phone: (541) 776-4646 <br>Fax: (541) 779-0204";
            document.getElementById("Address5").innerHTML += "<br>";
            document.getElementById("Address6").innerHTML += "<br>";
            document.getElementById("Address7").innerHTML += "<br>";
            document.getElementById("Photo").innerHTML += "<img src=\"/Resources/WaldenG.jpg\" />";
        }
        if (fedID == 5) {
            document.getElementById("FirstName").innerHTML += "Earl";
            document.getElementById("LastName").innerHTML += "Blumenauer";
            document.getElementById("Email").innerHTML += "<a href=\"https://blumenauerforms.house.gov/forms/writeyourrep/\">https://blumenauerforms.house.gov/forms/writeyourrep/</a>";
            document.getElementById("Address1").innerHTML += "Washington, D.C. <br>1111 Longworth House Office Building <br>Washington, DC 20515 <br>Phone: (202) 225-4811 <br>Fax: (202) 225-8941";
            document.getElementById("Address2").innerHTML += "<br>Portland, OR <br>911 N.E. 11th Ave Suite 200 <br>Portland, OR 97232 <br>Phone: (503) 231-2300 <br>Fax: (503) 230-5413";
            document.getElementById("Address3").innerHTML += "<br>";
            document.getElementById("Address4").innerHTML += "<br>";
            document.getElementById("Address5").innerHTML += "<br>";
            document.getElementById("Address6").innerHTML += "<br>";
            document.getElementById("Address7").innerHTML += "<br>";
            document.getElementById("Photo").innerHTML += "<img src=\"/Resources/BlumenauerE.jpg\" />";
        }
        if (fedID == 6) {
            document.getElementById("FirstName").innerHTML += "Peter";
            document.getElementById("LastName").innerHTML += "DeFazio";
            document.getElementById("Email").innerHTML += "<a href=\"http://defazio.house.gov/contact/email-peter\">http://defazio.house.gov/contact/email-peter</a>";
            document.getElementById("Address1").innerHTML += "Washington, D.C. <br>2134 Rayburn Office Building <br>Washington, DC 20515 <br>Phone: 202-225-6416";
            document.getElementById("Address2").innerHTML += "<br>Eugene, OR <br>405 East 8th Ave. #2030 <br>Eugene, OR 97401 <br>Phone: 541-465-6732 <br>Fax: 541-465-6458";
            document.getElementById("Address3").innerHTML += "<br>Roseburg, OR <br>612 S.E Jackson St Room 9 <br>Roseburg, OR 97470 <br>Phone: 541-440-3523";
            document.getElementById("Address4").innerHTML += "<br>Coos Bay, OR <br>Coos Bay District Office <br>125 Central Ave Suite 350 <br>Coos Bay, OR 97420 <br>Phone: 541-269-2609 <br>Fax: 541-269-5760";
            document.getElementById("Address5").innerHTML += "<br>";
            document.getElementById("Address6").innerHTML += "<br>";
            document.getElementById("Address7").innerHTML += "<br>";
            document.getElementById("Photo").innerHTML += "<img src=\"/Resources/DeFazioP.jpg\" />";
        }
        if (fedID == 7) {
            document.getElementById("FirstName").innerHTML += "Kurt";
            document.getElementById("LastName").innerHTML += "Schrader";
            document.getElementById("Email").innerHTML += "<a href=\"http://schrader.house.gov/contact/\">http://schrader.house.gov/contact/</a>";
            document.getElementById("Address1").innerHTML += "Washington, D.C. <br>2431 Rayburn HOB <br>Washington, D.C. 20515 <br>Phone: (202) 225-5711 <br>Fax: (202) 225-5699";
            document.getElementById("Address2").innerHTML += "<br>Salem, OR <br>530 Center Street, N.E., Ste. 415 <br>Salem, OR 97301 <br>Phone: (503) 588-9100 <br>Fax: (503) 588-5517";
            document.getElementById("Address3").innerHTML += "<br>Oregon City, OR <br>621 High Street <br>Oregon City, OR 97045 <br>Phone: (503)-557-1324 <br>Fax: (503)-557-1981 ";
            document.getElementById("Address4").innerHTML += "<br>";
            document.getElementById("Address5").innerHTML += "<br>";
            document.getElementById("Address6").innerHTML += "<br>";
            document.getElementById("Address7").innerHTML += "<br>";
            document.getElementById("Photo").innerHTML += "<img src=\"/Resources/SchraderK.jpg\" />";
        }
    }





    
        
</script>

<body onload="FedPage()"></body>
@{
    ViewBag.Title = "RepPage2";
}

<div class="container">
    <div id="column1" style="float:left; margin-top:10px; width:20%;">
        <div id="Photo"></div>
    </div>

    <div id="column2" style="float:left; margin-top:10px; width:20%;">
        <div>First Name</div>
        <div>Last Name</div>
        <div>Email</div>
        <h2></h2>
        <div>Office Locations</div>
    </div>
    <div id="column3" style="float:left; margin-top:10px; width:33%;">
        <div id="FirstName"></div>
        <div id="LastName"></div>
        <div id="District"></div>
        <div id="Email"></div>
        <h2></h2>
        <div id="Address1"></div>
        <div id="Address2"></div>
        <div id="Address3"></div>
        <div id="Address4"></div>
        <div id="Address5"></div>
        <div id="Address6"></div>
        <div id="Address7"></div>
    </div>
</div>