﻿@*This is no longer necessary. Delete after integrating in Sprint 3.*@

<script>
    var legID = '@ViewBag.LegID';

    function FillPage()
    {
        var dataString = 'https://openstates.org/api/v1/legislators/' +legID + '/';
        $.ajax({
            type: "GET",
            dataType: "json",
            url: dataString,
            success: DisplayData
        });
    }

    function DisplayData(data)
    {
        document.getElementById("FirstName").innerHTML += data.first_name;
        document.getElementById("LastName").innerHTML += data.last_name;
        document.getElementById("District").innerHTML += data.district;

        //Email
        document.getElementById("Email").innerHTML = "N/A";
        if (data.email != null && data.email != "" && data.email != " ")
        {
            document.getElementById("Email").innerHTML = data.email;
        }
        
        //Working Test

        var str = JSON.stringify(data.offices);
        var strAr = str.split(":");

        //OfficeType
        var officeType = strAr[5];
        if (officeType.charAt(0) == "n")
        {
            officeType = "N/A";
        }
        else
        {
            officeType = officeType.substring(1, officeType.length - 9);
        }

        //OfficeAddressName
        var officeAddressName = strAr[2];
        if (officeAddressName.charAt(0) == "n")
        {
            officeAddressName = "N/A";
        }
        else
        {
            officeAddressName = officeAddressName.substring(1, officeAddressName.length - 9);
        }

        //OfficeAddress
        var officeAddress = strAr[4];
        if (officeAddress.charAt(0) == "n")
        {
            officeAddress = "N/A";
        }
        else
        {
            officeAddress = officeAddress.substring(1, officeAddress.length - 8);
        }

        //OfficePhone
        var officePhone = strAr[3];
        if (officePhone.charAt(0) == "n")
        {
            officePhone = "N/A";
        }
        else
        {
            officePhone = officePhone.substring(1, officePhone.length - 11);
        }

        //OfficeFax
        var officeFax = strAr[1];
        if (officeFax.charAt(0) == "n") {
            officeFax = "N/A";
        }
        else {
            officeFax = officeFax.substring(1, officeFax.length - 7);
        }

        //OfficeEmail
        var officeEmail = strAr[6];
        if (officeEmail.charAt(0) == "n")
        {
            officeEmail = "N/A";
        }
        else
        {
            officeEmail = officeEmail.substring(1, officeEmail.length - 3);
        }

        document.getElementById("OfficeType").innerHTML += officeType;
        document.getElementById("AddressName").innerHTML += officeAddressName;
        document.getElementById("OfficeAddress").innerHTML += officeAddress;
        document.getElementById("OfficePhone").innerHTML += officePhone;
        document.getElementById("OfficeFax").innerHTML += officeFax;
        document.getElementById("OfficesEmail").innerHTML += officeEmail;

        //Photo
        document.getElementById("Photo").innerHTML += "";
        if (data.photo_url != null)
        {
            document.getElementById("Photo").innerHTML += "<img src=\"" + data.photo_url +"\" alt=\"Representative_Photo\" style=\"width:115px; height:130px;\" />";
        }
    }
</script>

<body onload="FillPage()"></body>
@{
    ViewBag.Title = "RepPage";
}

<div class="container">
    <div id="column1" style="float:left; margin-top:10px; width:20%;">
        <div id="Photo"></div>
    </div>

    <div id="column2" style="float:left; margin-top:10px; width:20%;">
        <div>First Name</div>
        <div>Last Name</div>
        <div>District</div>
        <div>Email</div>
        <h2></h2>
        <div>Office Position</div>
        <div>Office Address Name</div>
        <div>Office Address</div>
        <div>Office Phone Number</div>
        <div>Office Fax</div>
        <div>Office Email</div>
    </div>
    <div id="column3" style="float:left; margin-top:10px; width:33%;">
        <div id="FirstName"></div>
        <div id="LastName"></div>
        <div id="District"></div>
        <div id="Email"></div>
        <h2></h2>
        <div id="OfficeType"></div>
        <div id="AddressName"></div>
        <div id="OfficeAddress"></div>
        <div id="OfficePhone"></div>
        <div id="OfficeFax"></div>
        <div id="OfficesEmail"></div>
    </div>
</div>