﻿
@{
    ViewBag.Title = "StateSenPrime";
}

<h2>StateSenPrime</h2>

<!---->

<script>
    function FillPage()
    {
        var dataString = 'https://openstates.org/api/v1/legislators/ORL000032/';
        $.ajax({
            type: "GET",
            dataType: "json",
            url: dataString,
            success: DisplayData
        });
    }

    function DisplayData(data)
    {
        document.getElementById("FirstName").innerHTML += data.first_name;
        document.getElementById("LastName").innerHTML += data.last_name;
        document.getElementById("District").innerHTML += data.district;
        document.getElementById("Email").innerHTML += data.email;

        var offtype = "teststestesst";
        if (data.offices.type != null)
        {
            offtype = data.offices.type;
        }
        document.getElementById("OfficeType").innerHTML += data.offices.type;

        //Office Type
        //if (data.offices.type == null)
        //{
        //    document.getElementById("OfficeType").innerHTML += "N/A";
        //}
        //else
        //{
        //    document.getElementById("OfficeType").innerHTML += data.offices.type;
        //}

        // Office Address Name
        //if (data.offices.name == null)
        //{
        //    document.getElementById("AddressName").innerHTML += "N/A";
        //}
        //else
        //{
        //    document.getElementById("AddressName").innerHTML += data.offices.name;
        //}

        ////Office Address
        //if (data.offices.address == null)
        //{
        //    document.getElementById("OfficeAddress").innerHTML += "N/A";
        //}
        //else
        //{
        //    document.getElementById("OfficeAddress").innerHTML += data.offices.address;
        //}

        ////Office Phone
        //if (data.offices.phone == null)
        //{
        //    document.getElementById("OfficePhone").innerHTML += "N/A";
        //}
        //else
        //{
        //    document.getElementById("OfficePhone").innerHTML += data.offices.phone;
        //}

        ////Office Fax
        //if (data.offices.fax == null)
        //{
        //    document.getElementById("OfficeFax").innerHTML += "N/A";
        //}
        //else
        //{
        //    document.getElementById("OfficeFax").innerHTML += data.offices.fax;
        //}

        ////Office Email
        //if (data.offices.email == null)
        //{
        //    document.getElementById("OfficesEmail").innerHTML += "N/A";
        //}
        //else
        //{
        //    document.getElementById("OfficesEmail").innerHTML += data.offices.email;
        //}

        var test = data.offices.email;
        document.getElementById("OfficeAddress").innerHTML += data.offices.address;
        document.getElementById("OfficePhone").innerHTML += data.offices.phone;
        document.getElementById("OfficeFax").innerHTML += data.offices.fax;
        document.getElementById("OfficesEmail").innerHTML += test.toString();
        document.getElementById("Email").innerHTML += data.email;

        //Photo
        if (data.photo_url == null)
        {
            document.getElementById("Photo").innerHTML += "N/A";
        }
        else
        {
            document.getElementById("Photo").innerHTML += data.photo_url;
        }
    }
</script>

<body onload="FillPage()">
</body>
@{
    ViewBag.Title = "StateSen";
}

<div>
    <div id="column1" style="float:left; margin: 0; width:20%" ;>
        <div>First Name</div>
        <div>Last Name</div>
        <div>District</div>
        <div>Email</div>
        <h2></h2>
        <div>Office Position</div>
        <div>Office Address Name</div>
        <div>Office Address</div>
        <div>Office Phone Number</div>
        <div>Office Fax</div>
        <div>Office Email</div>
    </div>
    <div id="column2" style="float:left; margin: 0; width:40%" ;>
        <div id="FirstName"></div>
        <div id="LastName"></div>
        <div id="District"></div>
        <div id="Email"></div>
        <h2></h2>
        <div id="OfficeType"></div>
        <div id="AddressName"></div>
        <div id="OfficeAddress"></div>
        <div id="OfficePhone"></div>
        <div id="OfficeFax"></div>
        <div id="OfficesEmail"></div>
    </div>
    <div id="column2" style="float:left; margin: 0; width:40%" ;>
        <img src="Photo" alt="Representative_Photo" style="width:115px; height:130px;" />
    </div>
    <img src="Photo" />
</div>

<!-- <div class="container">
     <table class="table table-condensed">
         <thead>
             <tr>
                 <th>First Name</th>
                 <th>Last Name</th>
             </tr>
         </thead>
         <tbody>
             <tr>
                 <th id="FirstName"></th>
                 <th id="LastName"></th>
             </tr>
         </tbody>
     </table>
 </div>
    -->
