﻿
@{
    ViewBag.Title = "TagDetails";
}

<h2>Tag Related: </h2>


 

@using (Html.BeginForm())
{
    <ul class="nav navbar-nav" style="margin:8px">
        <li>
            <select id="key" name="key" style="margin-top:4px">
                <option value="Agriculture and Food">Agriculture and Food</option>
                <option value="Animal Rights and Wildlife Issues">Animal Rights and Wildlife Issues</option>
                <option value="Arts and Humanities">Arts and Humanities</option>
                <option value="Budget, Spending, and Taxes">Budget, Spending, and Taxes</option>
                <option value="Campaign Finance and Election Issues">Campaign Finance and Election Issues</option>
                <option value="Civil Liberties and Civil Rights">Civil Liberties and Civil Rights</option>
                <option value="Commerce">Commerce</option>
                <option value="Crime">Crime</option>
                <option value="Drugs">Drugs</option>
                <option value="Education">Education</option>
                <option value="Energy">Energy</option>
                <option value="Environmental">Environmental</option>
                <option value="Executive Branch">Executive Branch</option>
                <option value="Family and Children Issues">Family and Children Issues</option>
                <option value="Federal, State, and Local Relations">Federal, State, and Local Relations</option>
                <option value="Gambling and Gaming">Gambling and Gaming</option>
                <option value="Government Reform">Government Reform</option>
                <option value="Guns">Guns</option>
                <option value="Health">Health</option>
                <option value="Housing and Property">Housing and Property</option>
                <option value="Immigration">Immigration</option>
                <option value="Indigenous Peoples">Indigenous Peoples</option>
                <option value="Insurance">Insurance</option>
                <option value="Judiciary">Judiciary</option>
                <option value="Labor and Employment">Labor and Employment</option>
                <option value="Legal Issues">Legal Issues</option>
                <option value="Legislative Affairs">Legislative Affairs</option>
                <option value="Municipal and County Issues">Municipal and County Issues</option>
                <option value="Nominations">Nominations</option>
                <option value="Other">Other</option>
                <option value="Public Services">Public Services</option>
                <option value="Recreation">Recreation</option>
                <option value="Reproductive Issues">Reproductive Issues</option>
                <option value="Resolutions">Resolutions</option>
                <option value="Science and Medical Research">Science and Medical Research</option>
                <option value="Senior Issues">Senior Issues</option>
                <option value="Sexual Orientation and Gender Issues">Sexual Orientation and Gender Issues</option>
                <option value="Social Issues">Social Issues</option>
                <option value="State Agencies">State Agencies</option>
                <option value="Technology and Communication">Technology and Communication</option>
                <option value="Trade">Trade</option>
                <option value="Transportation">Transportation</option>
                <option value="Welfare and Poverty">Welfare and Poverty</option>
            </select>
        </li>
        <li><input type="submit" id="searchkey" class="btn btn-default btn-sm" value="search by tag" style="margin-left:10px" /></li>
    </ul>
}

<div id="fromTag"></div>
<div id="detail"></div>
